body{
    margin:0 auto;
    color:white;
    background-color: black;
    font-size:18px;
    text-align:center;
}
.title{
    position: relative;
    width:100%;
    height:40px;
    line-height: 40px;
    background-color: blue;
}

#items{
    margin-left:20px;
    width:432px;
    position: absolute;
}
.item{
    position: absolute;
    box-sizing: border-box;
    width:27px;
    height:27px;
    border:1px dotted grey;
}
#placeholder{
    position: absolute;
    width: 1080px;
    margin-left:600px;
}

.mapField{
    position:absolute;
    box-sizing: border-box;
    width:27px;
    height:27px;
    border:1px solid grey;
}
